In [1]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\cor24836\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\cor24836\anaconda3\lib\site-packages (from seaborn) (1.18.1)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\cor24836\anaconda3\lib\site-packages (from seaborn) (3.1.3)
Requirement already satisfied: scipy>=1.0.1 in c:\users\cor24836\anaconda3\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in c:\users\cor24836\anaconda3\lib\site-packages (from seaborn) (1.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\cor24836\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\cor24836\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\cor24836\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\cor24836\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\cor24836\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2019.3)
Requirement already satisfied: six in c:\users\cor24836\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.1.2->seaborn) (1.14.0)
Requirement already satisfied: setuptools in c:\users\cor24836\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (45.2.0.post20200210)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\cor24836\anaconda3\lib\site-packages (0.22.1)
Requirement already satisfied: numpy>=1.11.0 in c:\users\cor24836\anaconda3\lib\site-packages (from scikit-learn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in c:\users\cor24836\anaconda3\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in c:\users\cor24836\anaconda3\lib\site-packages (from scikit-learn) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stats

In [11]:
pd.read_csv("STEvIE/PPM_blahblah1.csv")

      Q5  Q6  Q3      Q7                        Q8
0  AC964   1   4    male                       yes
1  AC965   2   5  female                        no
2  AC966   1   4    male                       yes
3  AC967   1   3    male                     maybe
4  AC968   1   4    male                       yes
5  AC969   1   5    male                       yes
6  AC970   2   4  female                        no
7  AC971   2   3  female                        no
8  AC972   3   2   other  already considering STEM

In [51]:
table = pd.read_excel("STEvIE/testing-STEvIE.xlsx", usecols="A:D")

print(table)

       Q5  Q3  Q6             Q1
0   EF964   3   3  PPM_blahblah3
1   EF965   3   3  PPM_blahblah3
2   EF966   3   1  PPM_blahblah3
3   EF967   1   1  PPM_blahblah3
4   EF968   4   1  PPM_blahblah3
5   EF969   5   2  PPM_blahblah3
6   BD964   1   2  PPM_blahblah2
7   BD965   1   2  PPM_blahblah2
8   BD966   5   2  PPM_blahblah2
9   BD967   5   2  PPM_blahblah2
10  BD968   5   3  PPM_blahblah2
11  BD969   4   1  PPM_blahblah2
12  BD970   5   2  PPM_blahblah2
13  BD971   3   3  PPM_blahblah2
14  BD972   4   1  PPM_blahblah2
15  BD973   1   3  PPM_blahblah2
16  BD974   2   1  PPM_blahblah2
17  BD975   2   1  PPM_blahblah2
18  BD976   4   1  PPM_blahblah2
19  AC964   4   1  PPM_blahblah1
20  AC965   5   2  PPM_blahblah1
21  AC966   4   1  PPM_blahblah1
22  AC967   3   1  PPM_blahblah1
23  AC968   4   1  PPM_blahblah1
24  AC969   5   1  PPM_blahblah1
25  AC970   4   2  PPM_blahblah1
26  AC971   3   2  PPM_blahblah1
27  AC972   2   3  PPM_blahblah1

In [52]:
print(len(table))  # Here we see that read_excel acts as a sort of dict

28

In [53]:
# Fetching only response 10
print(table.iloc[10])

Q5            BD968
Q3                5
Q6                3
Q1    PPM_blahblah2
Name: 10, dtype: object

In [54]:
# To print just Q3, simply print(table["Q3"]), as you would a dict
# You can also find the participant ID of all who rated it lower than 3/5
print(table.loc[table['Q3'] < 3, ['Q5', 'Q3']])

       Q5  Q3
3   EF967   1
6   BD964   1
7   BD965   1
15  BD973   1
16  BD974   2
17  BD975   2
27  AC972   2

In [55]:
print(sum(table['Q3']))

print(sum(table['Q3'])/27)

95
3.5185185185185186

In [69]:
XL2 = table.loc[table['Q1'] == 'PPM_blahblah2', ['Q3', 'Q5']]
print(XL2)
avg = stats.mean(XL2['Q3'])
print(avg)
avg = round(stats.mean(XL2['Q3']), 2)
print(avg)

    Q3     Q5
6    1  BD964
7    1  BD965
8    5  BD966
9    5  BD967
10   5  BD968
11   4  BD969
12   5  BD970
13   3  BD971
14   4  BD972
15   1  BD973
16   2  BD974
17   2  BD975
18   4  BD976
3.230769230769231
3.23

In [70]:
2+2

4